.milli {
  font-family: 'Montserrat', sans-serif;
}

.card {
  background-color: var(--color-secondary);
  color: var(--color-brown);
  border-radius: 8px;
}

.card:hover {
  background-color: var(--color-brown);
  color: var(--color-secondary);
  border-radius: 8px;
}

.banner {
  color: var(--color-brown);
}

.card:hover a{
  color: var(--color-secondary);
}
