.nav {
  position: relative;
  background-color: var(--color-secondary);
  z-index: 2;
}

.masthead {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  background-image: url("../../images/icons.svg#paw");
}

.nav a {
  display: inline-block;
}
