.flag-optional {
  color: var(--color-primary);
}

.is-validated input:invalid,
.is-validated input[type="checkbox"]:invalid + label::before {
  border-color: var(--color-turquoise);
}

.error-message {
  display: none;
  background-color: #fee;
  color: #c33;
}

.error-message-highlighted {
  background-color: #c33;
  color: #fff;
}

.is-validated .error-message:first-child,
.is-validated input:invalid + .error-message,
.is-validated input:invalid + label + .error-message {
  display: block;
}

/*imported button styling properties*/
.btn {
  background-color: var(--color-turquoise);
  border-color: transparent;
  color: var(--color-secondary);
  font-weight: bold;
}

.btn:hover {
  background-color: var(--color-primary);
  border-color: transparent;
  color: var(--color-secondary);
  font-weight: bold;
}

.btn:focus {
  background-color: var(--color-brown);
  border-color: transparent;
  color: var(--color-secondary);
  font-weight: bold;
}

.btn-light {
  background-color: var(--color-secondary);
  border-color: var(--color-turquoise);
  color: var(--color-turquoise);
}

.btn-light:hover {
  background-color: var(--color-turquoise);
  border-color: var(--color-turquoise);
  color: var(--color-secondary);
}

.btn-light:focus {
  background-color: var(--color-brown);
  border-color: var(--color-brown);
  color: var(--color-secondary);
}
