.btn {
  background-color: var(--color-secondary);
  border-color: var(--color-primary);

  color: var(--color-primary);
}

.btn-light {
  background-color: var(--color-secondary);
  border-color: var(--color-turquoise);

  color: var(--color-turquoise);
}

.btn-ghost {
  background-color: transparent;
  border-color: var(--color-secondary);

  color: var(--color-secondary);
}
