:root {
  --color-red: #e60000;
  --color-primary: #ff554c;
  --color-accent: #8fffb2;
  --color-secondary: #c9ffd4;
  --color-turquoise: #28b38d;
  --color-brown: #2a0119;

  --font-primary: "Raleway", sans-serif;
  --font-secondary: "Montserrat", sans-serif;
}

html {
  font-family: var(--font-primary);
}

a {
  font-weight: bold;
  color: var(--color-brown);
}

a:hover {
  color: var(--color-red);
}
